@model ExcelPluginTest.Models.HomeViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
<div>
    <h1>Just a test site creating an empty excel file</h1>
    <a href="@Model.FilePath">Get Test File</a>
</div>
</body>
</html>
